NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://localhost:27017/flashcommerce?replicaSet=rs0&directConnection=true
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=your_super_secret_access_token_key_min_32_characters_long
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_min_32_characters_long
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

CORS_ORIGIN=http://localhost:5173