
# Basically a demo of how my .env file looks a standard more professional way
NODE_ENV=development
PORT=4000

JWT_ACCESS_SECRET=your_super_secret_access_token_key_min_32_characters_long
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_min_32_characters_long
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

CORS_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://rushly:rushly_dev_pw@localhost:5433/rushly?schema=public"
REDIS_URL=redis://localhost:6379